<section class="time-count">
  <div class="time-count__container">
    <h2 class="time-count__title">Таймер обратного отсчета</h2>
    <div class="time-count__inner">
      <div class="time-count__item time-count__days">
        <div class="time-count__val">00</div>
        <span class="time-count__text">дней</span>
      </div>
      <div class="time-count__separator">:</div>
      <div class="time-count__item time-count__hours">
        <div class="time-count__val">00</div>
        <span class="time-count__text">часов</span>
      </div>
      <div class="time-count__separator">:</div>
      <div class="time-count__item time-count__minutes">
        <div class="time-count__val">00</div>
        <span class="time-count__text">минут</span>
      </div>
      <div class="time-count__separator">:</div>
      <div class="time-count__item time-count__seconds">
        <div class="time-count__val">00</div>
        <span class="time-count__text">секунд</span>
      </div>
    </div>
  </div>
</section>
