body {
  height: 100%;
  background: #1E2027;
  color: white;
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  line-height: 1.25;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 30px;

  &__item {
    &:first-child,
    &:last-child {
      .pagination__link {
        background: transparent;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link,
  &__dots {
    width: 40px;
    height: 40px;
    background: #2C2F3A;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
  }

  &__link {
    transition: background 0.3s;

    &:hover {
      background: #383c4a;

      .pagination__icon {
        fill: white;
      }
    }

    &.current {
      background: #545B71;
      pointer-events: none;
    }
  }

  &__icon {
    width: 29px;
    height: 16px;
    fill: #545B71;
    transition: fill 0.3s;
  }

  &__dots {
    letter-spacing: 0.15em;
  }
}
