<!-- силка  на стили  -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
<!-- html  -->
<a data-fancybox="gallery" href="картинка по переходу будет"><img class="package__image" src="картинка какая будет показываться"/></a>



<!--js  силка на скрипт -->

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<!--js  инстализации -->
<script>
  Fancybox.bind('[data-fancybox="gallery"]', {});
</script>