<section class="show-more">
  <div class="show-more__container">
    <ul class="show-more__list">
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/9Mv7Y1nq/1.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/bYtbwcZ0/2.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/7Y12S3Mf/3.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/6qnGjRkb/4.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/xCbk8M1j/5.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/cCyvnCvR/6.jpg" alt="Фото"/>
      </li>

      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/9Mv7Y1nq/1.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/bYtbwcZ0/2.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/7Y12S3Mf/3.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/6qnGjRkb/4.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/xCbk8M1j/5.jpg" alt="Фото"/>
      </li>
      <li class="show-more__item">
        <img class="show-more__img" src="https://i.postimg.cc/cCyvnCvR/6.jpg" alt="Фото"/>
      </li>
    </ul>
    <button class="show-more__btn">Показать ещё</button>
  </div>
</section>
