<!-- Modal -->
<div class="modal__wrapper">
    <div class="modal">
        <div class="modal__close"> <img src="./img/cancel.svg" alt="cancel" width="10px" height="10px"></div>
        <div class="modal__title"><span>Авторизация</span> </div>
        <div class="modal__body">
            <div class="modal__verification">перейдите к регистрации </div>
            <form class="modal__form" action="">
                <input placeholder="ведите email@" class="modal__input modal__mail" type="email">
                <input placeholder="ведите пароль"  class="modal__input modal__password" type="text">
                <button class="modal__button">Войти</button>
            </form>
        </div>
    </div>
</div>

