/* Grid */

.category__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 15px;
}

.category__item {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    max-width: 218px;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1),
        0px 10px 10px 0px rgba(0, 0, 0, 0.09), 0px 22px 13px 0px rgba(0, 0, 0, 0.05),
        0px 39px 16px 0px rgba(0, 0, 0, 0.01), 0px 61px 17px 0px rgba(0, 0, 0, 0);

    transform: scale(1);
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

@media (max-width: 1440px) {
    .category__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }
}

@media (max-width: 992px) {
    .category__items {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 768px) {
    .category__items {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }

    .category__item {
        max-width: 100%;
        min-width: 170px;
    }
}

@media (max-width: 580px) {
    .category__items {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 388px) {
    .category__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .category__item {
        min-width: 150px;
    }
}

@media (max-width: 350px) {
     .classification__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .classification__inner-wrapper {
        align-items: center;
    }
    .category__inner-wrapper{  /*  моиму контейнеру задать  */
        align-items: center;
    }
}



/* flex  */
.category__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Равномерное распределение пространства между элементами */
  margin: -8px; /* Удаляем отступы с начала и конца контейнера */
}

.category__item {
  flex: 0 0 calc(25% - 16px); /* Задаем фиксированную ширину с учетом паддинга */
  transform: scale(1);
  transition: all 2.2s;
  padding: 8px;
  box-sizing: border-box; /* Учитываем внутренний отступ в ширине элементов */
}

.category__img  {
  width: 100%;
}

@media (max-width: 1450px) {
  .category__items{
    justify-content: start;
  }
   .category__item {
    flex: 0 0 calc(33% - 0px); /* Задаем фиксированную ширину с учетом паддинга */
  }
}

@media (max-width: 768px) {
  .category__items{
      justify-content: space-between;
  }
   .category__item{
    flex: 0 0 calc(50% - 0px); /* Задаем фиксированную ширину с учетом паддинга */
  }

}




