<div class="category__items">
  <div class="category__item">
    <a class="category__link" href="">
      <img
        class="category__img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRafG7T1jTh3VXibRpcpNHirHoWAitFD8kTSg&usqp=CAU"
        alt=""
      />
    </a>
  </div>
  <div class="category__item">
    <a class="category__link" href="">
      <img
        class="category__img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRafG7T1jTh3VXibRpcpNHirHoWAitFD8kTSg&usqp=CAU"
        alt=""
      />
    </a>
  </div>
  <div class="category__item">
    <a class="category__link" href="">
      <img
        class="category__img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRafG7T1jTh3VXibRpcpNHirHoWAitFD8kTSg&usqp=CAU"
        alt=""
      />
    </a>
  </div>
  <div class="category__item">
    <a class="category__link" href="">
      <img
        class="category__img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRafG7T1jTh3VXibRpcpNHirHoWAitFD8kTSg&usqp=CAU"
        alt=""
      />
    </a>
  </div>
</div>
