
<!-- потключить scripts -->
<section class="movies">
  <div class="container">
    <!-- Slider main container -->
    
    <div class="swiperMovies">
      <h2 class="subtitle">Trending Movies</h2>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides --> 
        <div class="swiper-slide">
          <a data-fancybox="gallery" class="movies__link" href="https://www.youtube.com/watch?v=0yHx5VWTFTM&ab_channel=Fanclan">
            <div class="cart"><img src="img/movies/movies-1.png" alt=""></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a data-fancybox="gallery" class="movies__link" href="https://www.youtube.com/watch?v=0yHx5VWTFTM&ab_channel=Fanclan">
            <div class="cart"><img src="img/movies/movies-2.png" alt=""></div>
          </a>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <button class="btn">See more</button>
  </div>
</section>




