<ul class="spoller">
  <li class="spoller__item">
    <div class="spoller__header">
      <h3 class="spoller__title js-title">дубаи край</h3>
    </div>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курорты тунс</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">Агая</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">Бухта </a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">париж</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">лакоста</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">Лалампур</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курорты</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">абрикоса</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винаград</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">кукрудза</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винт</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">крыло</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">астрология</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">марс</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">юпитер</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">винера</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">сатурн</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">сонце</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">Курот</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">фрика</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">греция</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">монако</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">тайланд</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">стамбул</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="spoller__item">
          <h4 class="spoller__subtitle js-title">карты</h4>
          <div class="spoller__body">
            <ul class="spoller__list">
              <li class="spoller__item">
                <a class="spoller__link" href="#">король</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">туз</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">валет</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">дама</a>
              </li>
              <li class="spoller__item">
                <a class="spoller__link" href="#">шут</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li class="spoller__item">
    <h4 class="spoller__title js-title">кросовки марки</h4>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <a class="spoller__link" href="#">адидас</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">пума</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">рибок</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">найк</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">лакоста</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="spoller__item">
    <h4 class="spoller__title js-title">копютеры</h4>
    <div class="spoller__body">
      <ul class="spoller__list">
        <li class="spoller__item">
          <a class="spoller__link" href="#">клавиатура</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">мышка</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">монитор</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">матирнская плата</a>
        </li>
        <li class="spoller__item">
          <a class="spoller__link" href="#">системник</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
