<section class="read-more">
  <div class="read-more__container">
    <div class="read-more__header">
      <h2 class="read-more__title">Читать дальше</h2>
    </div>
    <div class="read-more__body">
      <div class="read-more__item">
        <h3 class="read-more__name">JavaScript</h3>
        <p class="read-more__text">Нам ещё многое предстоит изучить про браузерные скрипты и их взаимодействие со
          страницей. Но, как уже было сказано, эта часть учебника посвящена именно языку JavaScript, поэтому здесь мы
          постараемся не отвлекаться на детали реализации в браузере. Мы воспользуемся браузером для запуска JavaScript,
          это удобно для онлайн-демонстраций, но это только одна из платформ, на которых работает этот язык. Нам ещё
          многое предстоит изучить про браузерные скрипты и их взаимодействие со страницей. Но, как уже было сказано,
          эта часть учебника посвящена именно языку JavaScript, поэтому здесь мы постараемся не отвлекаться на детали
          реализации в браузере. Мы воспользуемся браузером для запуска JavaScript, это удобно для онлайн-демонстраций,
          но это только одна из платформ, на которых работает этот язык. Нам ещё многое предстоит изучить про браузерные
          скрипты и их взаимодействие со страницей.</p>
        <p class="read-more__btn">Читать дальше</p>
      </div>
      <div class="read-more__item">
        <h3 class="read-more__name">JavaScript</h3>
        <p class="read-more__text">Нам ещё многое предстоит изучить про браузерные скрипты и их взаимодействие со
          страницей. Но, как уже было сказано, эта часть учебника посвящена именно языку JavaScript, поэтому здесь мы
          постараемся не отвлекаться на детали реализации в браузере. Мы воспользуемся браузером для запуска JavaScript,
          это удобно для онлайн-демонстраций, но это только одна из платформ, на которых работает этот язык. Нам ещё
          многое предстоит изучить про браузерные скрипты и их взаимодействие со страницей. Но, как уже было сказано,
          эта часть учебника посвящена именно языку JavaScript, поэтому здесь мы постараемся не отвлекаться на детали
          реализации в браузере. Мы воспользуемся браузером для запуска JavaScript, это удобно для онлайн-демонстраций,
          но это только одна из платформ, на которых работает этот язык. Нам ещё многое предстоит изучить про браузерные
          скрипты и их взаимодействие со страницей.</p>
        <p class="read-more__btn">Читать дальше</p>
      </div>
    </div>
  </div>
</section>
