<label class="radio">
  <input type="radio" class="radio__real" name="term" />
  <span class="radio__fake"></span>
  <span class="radio__title">Любой</span>
</label>

<label class="radio">
  <input type="radio" class="radio__real" name="term" />
  <span class="radio__fake"></span>
  <span class="radio__title">Сдан</span>
</label>

<label class="radio">
  <input type="radio" class="radio__real" name="term" />
  <span class="radio__fake"></span>
  <span class="radio__title">В этом году</span>
</label>

<label class="radio">
  <input type="radio" class="radio__real" name="term" />
  <span class="radio__fake"></span>
  <span class="radio__title">В следующем год</span>
</label>
