<label class="checkbox">
  <input type="checkbox" class="checkbox__real" name="value-01" />
  <span class="checkbox__fake"></span>
  <span class="checkbox__text">Двор без машин</span>
</label>

<label class="checkbox">
  <input type="checkbox" class="checkbox__real" name="value-02" />
  <span class="checkbox__fake"></span>
  <span class="checkbox__text">Высокие потолки</span>
</label>

<label class="checkbox">
  <input type="checkbox" class="checkbox__real" name="value-03" />
  <span class="checkbox__fake"></span>
  <span class="checkbox__text">Панорамные окна</span>
</label>
