<!-- Modal -->
<div class="modalRegist__wrapper">
    <div class="modalRegist">
        <div class="modalRegist__close"> <img src="./img/cancel.svg" alt="cancel" width="10px" height="10px"></div>
        <div class="modalRegist__title"><span>регистрация</span> </div>
        <div class="modalRegist__body">
            <div class="modalRegist__regist">перейти к входу</div>
            <form class="modalRegist__form" action="">
                <input placeholder="email@" class="modalRegist__input modal__email" type="email">
                <input  placeholder="телефон" class="modalRegist__input modalRegist__tell" type="tel" value="+38" placeholder="+380-00-000-00-00">
                <button class="modalRegist__button">регистрация</button>
            </form>
        </div>
    </div>
</div>

