<section class="plans">
  <div class="plans__container">
    <h2 class="plans__title">ТАРИФЫ</h2>
    <ul class="plans__list">
      <li class="plans__item">
        <h4 class="plans__heading">Занятия в мини-группах</h4>
        <ul class="plans__ul">
          <li class="plans__li">
            <span>Длительность</span>
            <span>90 минут</span>
          </li>
          <li class="plans__li">
            <span>Стоимость</span>
            <span>12 000₽ / месяц</span>
          </li>
          <li class="plans__li">
            <span>Количество занятий</span>
            <span>8</span>
          </li>
        </ul>
        <button class="plans__btn">Записаться</button>
      </li>
      <li class="plans__item">
        <h4 class="plans__heading">Занятия в парах</h4>
        <ul class="plans__ul">
          <li class="plans__li">
            <span>Длительность</span>
            <span>90 минут</span>
          </li>
          <li class="plans__li">
            <span>Стоимость</span>
            <span>8 000₽ / месяц</span>
          </li>
          <li class="plans__li">
            <span>Количество занятий</span>
            <span>8</span>
          </li>
        </ul>
        <button class="plans__btn">Записаться</button>
      </li>
      <li class="plans__item">
        <h4 class="plans__heading">Занятия в мини-группах</h4>
        <ul class="plans__ul">
          <li class="plans__li">
            <span>Длительность</span>
            <span>90 минут</span>
          </li>
          <li class="plans__li">
            <span>Стоимость</span>
            <span>7 000₽ / месяц</span>
          </li>
          <li class="plans__li">
            <span>Количество занятий</span>
            <span>8</span>
          </li>
        </ul>
        <button class="plans__btn">Записаться</button>
      </li>
    </ul>
  </div>
</section>
