.breadcrumbs {
  font-size: 16px;
  padding: 20px 0;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    list-style: none;
  }

  &__link {
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: none;
    transition: all linear 0.3s;

    span {
      margin: 0 2px;
    }

    &:hover {
      color: red;
    }
  }
}
