.price {


    .tabs {
        padding: 30px 0px;
        width: 100%;

        &__header {
            display: flex;
            justify-content: start;
            border-bottom: 1px solid rgb(223, 223, 224);
            gap: 32px;
            position: relative;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            &-item {
                padding: 0 16px 10px 16px;
                display: flex;
                cursor: pointer;
                color: rgb(0, 0, 0);
                font-size: 16px;
                @extend %open600;

                &:first-child {
                    padding: 0px;
                }

                &.active {
                    color: rgb(83, 145, 0);
                    ;
                    border-bottom: 3px solid rgb(83, 145, 0);

                }
            }
        }

        &__content {}

        &__content-item {
            justify-content: space-between;
        }
    }

    .price__convert {
        width: 100%;
        max-width: 870px;
    }

    .title {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__inner {
        border-radius: 10px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 30px 30px 26px 30px;
        border: 1px solid rgb(83, 145, 0);
        border-bottom: 5px solid rgb(83, 145, 0);
        position: relative;
    }

    &__wrapper {
        box-sizing: border-box;
        border: 1px solid rgb(211, 211, 212);
        border-radius: 6px;
        background: rgb(240, 241, 242);
        padding: 16px;
    }

    &__convert-subTitle {
        font-size: 21px;
        @extend %open600;
        padding-bottom: 16px;
        text-align: center;
    }

    &__convert-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__conver-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__convert-input {
        height: 42px;
        cursor: pointer;
        width: 292px;
        display: flex;
        padding: 20px;
        font-size: 16px;
        @extend %open400;
    }

    &__convert-currency {
        width: 61px;
        height: 42px;
        padding: 10px 16px 10px 16px;
        background: #FFFF;
        font-size: 14px;
        @extend %open400;
        display: flex;
        align-items: center;
    }

    &__convert-btn {
        background: #ffff;
        height: 42px;
        width: 42px;
        margin: 0 16px;
    }

    &__items {
        padding: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    &__item {
        max-width: 380px;
        width: 50%;
        height: 30px;
        border-bottom: 1px solid rgb(211, 211, 212);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(1n) {
            margin-top: 11px;
            border: px solid red;
        }
    }


    &__item-name {
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        @extend %open400;
    }

    &__item-sum {
        font-size: 16px;
        @extend %open600;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__convert-start {
        padding: 10px 22px;
        border-radius: 6px;
        font-size: 16px;
        @extend %open700;
        max-width: 370px;
        width: 100%;
    }

    &__frame {
        padding-top: 8px;
        display: flex;
        align-items: center;
    }

    &__log {
        height: 18px;
        display: flex;
        border-radius: 3px;
        background: rgba(143, 135, 131, 0.48);
        color: rgb(255, 255, 255);
        @extend %open600;
        font-size: 11px;
        padding: 3px 6px 3px 6px;
    }

    &__text {
        margin-left: 6px;
        @extend %open400;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.75);
    }

    .cart2__sum {
        font-size: 14px;
        @extend %open400;
        color: rgb(0, 0, 0);
    }

    .cart2__text {
        font-size: 14px;
        @extend %open400;
    }
}

.analytics__img-mob {
    display: none;
}



@media(max-width: 1200px) {
    .prace {
        &__box-wrapper {
            display: none;
        }
    }

    .tabs__content-item {
        justify-content: center !important;
    }
}




@media(max-width: 994px) {
    .products__items {
        display: none;
    }

    .cart2__items {
        margin-top: 16px;
    }

    .cart2__item {
        border: 1px solid rgb(225, 225, 225);
        font-size: 14px;
        padding: 16px;
        color: rgb(64, 64, 64);
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: space-between;
    }

    .cart2__sum {
        display: block;
        width: 50%;
        max-width: 100%;
        font-size: 14px;

    }

    .cart2__text {
        display: block;
        width: 50%;
        max-width: 100%;
        font-size: 14px;
    }

}


@media(max-width: 900px) {
    .price__convert-form {
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
    }

    .price__convert-btn {
        position: absolute;
        box-sizing: border-box;
        border: 1px solid rgb(211, 211, 212);
        border-radius: 6px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
        background: rgb(255, 255, 255), rgb(69, 90, 100);
        top: 30px;
    }

    .price__convert-subTitle {
        font-size: 18px;
    }

    .price__conver-box:last-child {
        padding-top: 15px;
    }

    .price__items {
        flex-direction: column;
        padding: 16px 0;
    }

    .price__item {
        width: 100%;
        max-width: 100%;
    }

    .price__item-sum {
        font-size: 14px;

    }

    .price__convert-start {
        max-width: 100%;
        font-size: 14px;
    }

    .forecast__text {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .products__sub-title {
        font-size: 14px;
    }
    .analytics__img-mob {
        display: block;
    }
    .analytics__img-mob {
        display: none;
    }

}

@media(max-width: 550px) {
    .price__convert-input {
        width: 200px;
    }



}