<!-- Accordion -->
<div class="acardion">
	<div class="acardion__item">
		<div class="acardion__title">Полезная информация
			<span class="symbol"> > </span>
		</div>
		<ul class="acardion__content">
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
		</ul>
	</div>

	<div class="acardion__item">
		<div class="acardion__title">Полезная информация
			<span class="symbol"> > </span>
		</div>
		<ul class="acardion__content">
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
		</ul>
	</div>

	<div class="acardion__item">
		<div class="acardion__title">Полезная информация
			<span class="symbol"> > </span>
		</div>
		<ul class="acardion__content">
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
			<li class="acardion__content__item">Здесь контент</li>
		</ul>
	</div>

</div>
<!-- Accordion -->