<div class="select__wrapper">
  <div class="select">
    <div class="select__btn">
      <a class="select__link active">EN</a>
    </div>
    <ul class="select__list">
      <li class="select__item">
        <a class="select__link active" href="#">EN</a>
      </li>
      <li class="select__item">
        <a class="select__link select__link--kz" href="#">KZ</a>
      </li>
      <li class="select__item">
        <a class="select__link select__link--ru" href="#">RU</a>
      </li>
    </ul>
  </div>

  <div class="select">
    <div class="select__btn">
      <a class="select__link active">EN</a>
    </div>
    <ul class="select__list">
      <li class="select__item">
        <a class="select__link active" href="#">EN</a>
      </li>
      <li class="select__item">
        <a class="select__link select__link--kz" href="#">KZ</a>
      </li>
      <li class="select__item">
        <a class="select__link select__link--ru" href="#">RU</a>
      </li>
    </ul>
  </div>
</div>
